*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'League Spartan', sans-serif;
}

.container{
    max-width: 1430px;
    margin-inline: auto;
    width: 100%;   
}

.header{
    padding-bottom: 131px;
    background-color: #f8f8f8;
}

.header-blocks{
    display: flex;
    flex-wrap: wrap;
    padding-left: 135px;
}

.header-text{
    padding-top: 100px;
}

.header-logo{
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0%;
    color: rgb(22, 21, 21);
}

h1{
    font-size: 250px;
    margin: 0;
    font-weight: 300;
    color: rgb(39, 39, 39);
    padding: 23px 0 3px;
}

.header-text__title{
    font-weight: 300;
    color: rgb(22, 21, 21);
    font-size: 32px;
    max-width: 575px;
    line-height: 50px;
    margin-bottom: 71px;
}

.header-btn{
    margin-bottom: 90px;
}

.header-btn a{
    text-decoration: none;
    color: #fff;
    padding: 30px 73px;
    background-color: rgb(22, 21, 21);
    font-weight: 300;
    font-size: 32px;
    outline: none;
    border: none;
    cursor: pointer;
}

.header-btn a:hover{
    border: 1px solid rgb(22, 21, 21);
    color: rgb(22, 21, 21);
    background-color: #fff;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
}

.header-btn::after{
    content: '1700$';
    font-weight: 300;
    font-size: 32px;
    padding: 30px;
    color: rgb(22, 21, 21);
    background-color: #fff;
    box-shadow: 0 0 28px 0 rgba(214, 214, 214, 0.25);
}

.header-img{
    margin-left: 74px;
}

.main{
    padding: 15px 0 142px;
}

.main-title__text{
    font-weight: 300;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: center;
}

h2{
    text-align: center;
    font-weight: 400;
    font-size: 72px;
    margin: 10px 0 84px;
}

.main-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main-item1{
    position: relative;
    background-color: rgba(248, 248, 248, 1);
    width: 417px;
    height: 630px;
}

.item1{
    position: absolute;
    top: 110px;
    left: 71px;
}

h3{
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    margin: 67px 0 17px;
}

.item-text{
    max-width: 532px;
    color: rgba(22, 21, 21, 1);
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    margin-bottom: 85px;
}

.main-item2{
    position: relative;
    background-color: rgba(248, 248, 248, 1);
    width: 496px;
    height: 630px;
}

.item2{
    position: absolute;
    top: 65px;
}

.item3-title{
    position: relative;
}

.item3-title::before{
    position: absolute;
    content: '';
    display: block;
    width: 178px;
    background-color: rgb(112, 112, 112);
    height: 1px;
    bottom: -10px;
    left: 33%;
}

.item3-text{
    max-width: 515px;
    font-size: 24px;
    font-weight: 300;
    color: rgba(22, 21, 21, 1);
    line-height: 40px;
    text-align: center;
    margin-top: 54px;
}

.item3-text a{
    color: rgb(187, 139, 93);
    text-decoration: none;
    cursor: pointer;
    margin-top: 49px;
    font-weight: 400;
}

@media screen and (max-width: 1500px){
    .container{
        width: 90%;
    }

    .header-blocks{
        padding-left: 0;
    }
}

@media screen and (max-width: 1228px){
    .header-blocks{
        padding-left: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

@media screen and (max-width: 992px){
    .header-img{
        margin-left: 0;
    }
}


@media screen and (max-width: 767px){
    h1{
        font-size: 100px;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 28px;
    }
}

@media screen and (max-width: 575px){
    .header-img img{
        max-width: 260px;
        height: auto;
    }

    .header-text{
        padding-top: 60px;
    }

    .header-text__title,
    .item-text{
        font-size: 26px;
    }
    
    .header-btn a{
        padding: 15px 36px;
        font-size: 26px;
    }
    
    .header-btn::after{
        font-size: 26px;
        padding: 15px;
    }

    .main-item1{
        position: relative;
        max-width: 280px;
        height: auto;
        padding: 40px 0;
    }
    
    .item1{
        position: relative;
        top: 0;
        left: 40px;
        max-width: 200px;
    }

    .main-item2{
        position: relative;
        max-width: 280px;
        height: auto;
        padding: 40px 0;
    }
    
    .item2{
        position: relative;
        top: 0;
        max-width: 280px;
    }

    h3{
        margin-top: 25px;
    }

    .main{
        padding-bottom: 76px;
    }

}


